.shirtBox{
    padding:10px;
}
.card{
    border: none;
    background: #fff;
    border-radius: 0px;
    width: 280px;
    display: inline-block;
    border-bottom: 1px solid #dcdcdc;
}

.shirtTtl{
    padding-top: 20px;
}

.card-block{
    width: 240px;
}

table, table tr td{
    border:1px solid #dcdcdc;
}

.tbl_title{
    width:50%;
    color:#adadad;
}

.clr_box{
    height:10px;
    width: 10px;
    display: inline-block;
    border: 1px solid #b1b1b1;
}

.priceBox{
    padding-top:10px;
}