<div *ngIf="loader" id="spinner">
  <img src="./assets/images/spinner.gif" id="img-spinner" alt="loading">
</div>
<div class="container-fluid">
  <div class="row" class="listContainer">
    <div class="col-sm-12">
      <h5>Filter by</h5>
    </div>

    <div class="col-sm-4">

      <div class="form-group" style="float:left; padding-right:20px;">
        <label>Colour:</label>
        <select class="form-control" [(ngModel)]="listColour">
          <option [ngValue]="undefined" selected>All</option>
          <option  *ngFor="let list of lists | uniqFilter:'colour'" [value]="list.colour">{{list.colour}}</option>
        </select>
      </div>


      <div class="form-group" style="float:left;">
        <label>Size:</label>
        <select class="form-control" [(ngModel)]="listSize">
          <option [ngValue]="undefined" selected>All</option>
          <option  *ngFor="let list of lists | uniqFilter:'size'" [value]="list.size">{{list.size | uppercase }}</option>
        </select>
      </div>
    </div>

    <div class="row col-sm-12">
      <div *ngFor="let list of lists | searchfilter :'colour': listColour  | searchfilter :'size': listSize; let i=index">
        <div class="" style="padding-bottom:15px;" *ngIf="list.name !== 'string'">
          <div class="card imgContainer">
            <div class="card-block text-center">
              <div>
                <img src="{{list.picture}}" alt="" width="128px" class="image">
              </div>

              <div class="col-sm-12 shirtTtl">
                <h6>{{list.name | limitTo : 20 }}</h6>
              </div>
              <div class="row">
                <table width="100%">
                  <tr>
                    <td class="tbl_title">size</td>
                    <td class="tbl_title">colour</td>
                  </tr>
                  <tr>
                    <td>{{ getSize(list.size) | uppercase }} </td>
                    <td>{{ list.colour }}
                      <div class="clr_box" [style.background-color]="list.colour"></div>
                    </td>
                  </tr>
                </table>
                <div class="col-sm-12 text-center priceBox">
                  <h4>{{list.price |currency:'USD':true }}</h4>
                </div>
              </div>
            </div>
            <div class="overlay">
              <a (click)="zoomImage(list.id, content)" class="zoomLink">+ click to expand</a>
              <div class="content">
                <div class="form-group">
                  <label for="quanity">Quantity</label>
                  <input type="number" id="qtd{{list.id}}" #inputValue class="form-control quantityInput" value="" [(ngModel)]="this['qt'+list.id]"
                  />
                  <button [disabled]="!this['qt'+list.id] || this['qt'+list.id] < 0" class="btn btn-lg btn-success buybtn" (click)="getValue(list.id, this['qt'+list.id]); this['qt'+list.id]=''">Add to cart</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row" style="width:32%;">
    <h5 class="mycart_title">My Cart <span class="text-right totalAmount">{{totalAmount |currency:'USD':true }}</span></h5>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Product</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cart of getCarts; let idx = index">
          <ng-template [ngIf]="!cart.name">
            <td class="text-center" colspan="6">{{cart.error}}</td>
          </ng-template>

          <ng-template [ngIf]="cart.name">
            <td>{{ idx+1 }}</td>
            <td>{{cart.name}}</td>
            <td>{{cart.qty}} x </td>
            <td class="text-right">{{cart.price |currency:'USD':true }}</td>
            <td class="text-right">{{cart.total |currency:'USD':true }}</td>
            <td><button class="btn btn-sm btn-danger" (click)="delItem(cart.product_id)">X</button></td>
          </ng-template>



        </tr>

      </tbody>

      <tfoot *ngIf="totalAmount != '0'">
        <tr>
          <th colspan="5">Total</th>
          <th> {{totalAmount |currency:'USD':true }}</th>

        </tr>
        <tr>
          <td colspan="6" style="text-align:right;">
            <button class="btn btn-md btn-success" (click)="itemSubmit()">
              CheckOut
            </button>
          </td>
          
        </tr>
      </tfoot>
      <tr *ngIf="successMessage">
        <td colspan="6">
            <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        </td>
      </tr>
      
    </table>
  </div>

  <!-- modal -->


  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{modalValue.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h6>
        <span>Colour: {{modalValue.colour | uppercase}}</span> | 
        <span>Size: {{modalValue.size | uppercase }}</span> |
        <span>price: {{modalValue.price | currency:'USD':true }}</span>
      </h6>
      <p><img [src]="modalValue.picture" style="width:470px;" alt=""></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark btn-danger" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

</div>